.input-group
    display: flex
    flex-direction: column
   


    .input-group__element
        display: flex
        flex-direction: column
        margin: 1em
        color: black
        label
            color: white
        input
            padding: 0.4em
        select
            padding: 0.4em
       
       
            
        
        
        

.crud__store-button
    background: #545f60
    color: white
    padding: 0.52em 2em
    margin: 2em
    align-self: center
    width: max-content
    border: none
    border-radius: 8px
    -webkit-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3)
    -moz-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3)
    box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3)
    transition: 0.2s
    &:hover
        -webkit-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.5)
        -moz-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.5)
        box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.5)
    &:active
        -webkit-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.1)
        -moz-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.1)
        box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.1)
        