@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

#logo svg {
  width: 8vw !important;
  min-width: 7rem;
  -webkit-filter: drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 0.51));
          filter: drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 0.51));
}

#logo svg path {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
}

#logo svg:hover path {
  stroke-dashoffset: 0;
}

.drawn {
  stroke-dashoffset: 0 !important;
  -webkit-transition: stroke-dashoffset 0.5s, stroke-width 1s;
  transition: stroke-dashoffset 0.5s, stroke-width 1s;
}

.fade {
  -webkit-transition: 200ms opacity ease-in;
  transition: 200ms opacity ease-in;
}

.opacity-0 {
  opacity: 0;
}

.d-none {
  display: none !important;
}

body {
  overflow-y: scroll;
}

.tab-group {
  marin: 0 auto;
}

ul.tab-group__titles {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  list-style: none;
  overflow: hidden;
  padding: 0;
}

ul.tab-group__titles li {
  float: left;
  width: 33.33%;
}

ul.tab-group__titles li a {
  position: relative;
  display: block;
  height: 30px;
  margin-top: 40px;
  padding: 10px 0 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: #6edeef;
  -webkit-box-shadow: 8px 12px 25px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 8px 12px 25px 2px rgba(0, 0, 0, 0.4);
  border: 0px solid #000000;
  -webkit-transition: padding 0.2s ease, margin 0.2s ease;
  transition: padding 0.2s ease, margin 0.2s ease;
}

.tab-group__titles li:first-child a {
  z-index: 3;
  border-top-left-radius: 8px;
}

.tab-group__titles li:nth-child(2) a {
  z-index: 2;
}

.tab-group__titles li:last-child a {
  z-index: 1;
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 8px;
}

ul.tab-group__titles li a:hover {
  margin: 35px 0 0 0;
  padding: 10px 0 5px 0;
}

ul.tab-group__titles li a.active {
  margin: 30px 0 0 0;
  padding: 10px 0 10px 0;
  background: #545f60;
  color: #6edeef;
  z-index: 4;
  outline: none;
}

.group:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.group:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  clear: both;
}

#tab-group__content {
  width: 100%;
  min-height: 200px;
  margin: 0 auto;
  background: #545f60;
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#tab-group__content .tab-group__content-element {
  font-family: 'Open Sans', sans-serif;
  padding: 30px 40px;
  color: #ffffff;
  line-height: 26px;
  font-size: 18px;
  margin: 0;
}

.fade {
  -webkit-transition: 200ms opacity ease-in;
  transition: 200ms opacity ease-in;
}

.opacity-0 {
  opacity: 0;
}

.d-none {
  display: none !important;
}

/*====================
 *=======Structure======
 *====================== */
body {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 98vh;
  font-family: 'Open Sans', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 2vw;
}

header a {
  color: black;
}

main {
  width: 100%;
}

footer {
  margin-top: auto;
  width: 100%;
}

.footer-element {
  margin-bottom: 1em;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type=date]::-webkit-calendar-picker-indicator {
  margin-left: -25px;
}

.d-none {
  display: none !important;
}

/*====================
 *======MyBoostrap======
 *====================== */
.col-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 1em;
}

.col-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 1em;
}

.col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 1em;
}

/*====================
 *======Typography======
 *====================== */
h1, h2, h3, h4, h5, h6, a, p {
  color: white;
}

h5, h6 {
  font-family: "Ubuntu Condensed";
}

a, td, p, button {
  font-family: "Ubuntu";
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  text-decoration: none;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
}

h4 {
  font-weight: 700;
  text-decoration: none;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  font-weight: 700;
  text-decoration: none;
  transition: 300ms;
}

a:focus, a:hover {
  outline: none;
  outline-offset: 0;
  text-decoration: none;
}

a:focus p, a:hover p {
  color: #d6fafa;
  text-shadow: 1px 1px 4px black, 1px 0px 1px #2c3d63;
}

/*====================
 *========Image=========
 *====================== */
img {
  max-width: 100%;
}

/*====================
 *========Menu======
 *====================== */
.menu {
  width: 2em;
}

.menu svg {
  fill: #545f60;
}

/*====================
 *========Subtitle======
 *====================== */
.subtitle {
  background-color: #545f60;
  padding: 1vw;
}

.subtitle h2 {
  text-align: center;
  color: white;
}

/*====================
 *=========CRUD=========
 *====================== */
.crud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 96vw;
  margin: auto;
}

.crud__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-element {
  width: 100%;
}

.footer-element p {
  text-align: center;
}

.crud__table, .crud__form {
  width: 45%;
  width: 45%;
}

@media (max-width: 479px) {
  header {
    height: 2vh;
  }
  .footer-element {
    margin: 1em 0;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  .crud {
    display: block;
  }
  .crud__table, .crud__form {
    min-width: 100%;
    max-width: 100%;
  }
  .crud__table-grid {
    grid-gap: 0;
  }
  .crud__table-flex {
    gap: 0;
  }
}

@media (max-width: 1024px) {
  header {
    height: 2vh;
  }
  .footer-element {
    margin: 1em 0;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  .crud {
    display: block;
  }
  .crud__table, .crud__form {
    min-width: 100%;
    max-width: 100%;
  }
  .crud__table-grid {
    grid-gap: 0;
  }
  .crud__table-flex {
    gap: 0;
  }
}

@media (min-width: 1920px) {
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 3em;
  }
  .footer-element p {
    font-size: 1.5em;
  }
}

.invalid-input {
  background: #f48686;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-group .input-group__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
  color: black;
}

.input-group .input-group__element label {
  color: white;
}

.input-group .input-group__element input {
  padding: 0.4em;
}

.input-group .input-group__element select {
  padding: 0.4em;
}

#input-group__display {
  background: red;
  text-align: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.crud__store-button {
  background: #545f60;
  color: white;
  padding: 0.52em 2em;
  margin: 2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.crud__store-button:hover {
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.5);
}

.crud__store-button:active {
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.1);
}

td, th {
  padding: 0.7em 0.3em;
  text-align: center;
  color: white;
}

td {
  word-break: break-all;
  width: 30%;
}

th {
  height: 1em;
  color: #6edeef;
}

.table-num {
  width: 8%;
}

.button-edit {
  width: 10%;
  cursor: pointer;
}

.button-edit-color:after {
  background-color: rgba(255, 255, 255, 0.5);
}

.button-edit:after {
  width: 20px;
  height: 20px;
  display: inline-block;
  content: '';
  -webkit-mask: url(/svg/edit.svg) no-repeat 50% 50%;
  mask: url(/svg/edit.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.button-edit.button-edit-color:hover:after {
  background-color: white;
  position: relative;
  top: -1px;
}

table {
  table-layout: fixed;
  width: 100%;
  margin: 30px 0 0 0;
  background: #545f60;
  border-radius: 8px;
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  border: none;
}

table tr:nth-child(even) td {
  background: #788383;
}

table > tbody > tr:last-child {
  border: none;
}

.ck-editor__editable {
  height: 20vh;
}

.ck-editor__editable p {
  color: black;
}

body {
  background: rgba(175, 181, 187, 0.18);
}

.login {
  margin: auto;
  width: 400px;
  font-family: "Roboto", sans-serif;
  color: rgba(26, 25, 25, 0.72);
  font-weight: 500;
}

.login__prompt {
  font-size: 1.2rem;
  text-align: center;
  margin: 3rem 0 1rem 0;
}

.login__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(189, 178, 178, 0.43);
  -webkit-box-shadow: 1px 1px 3px rgba(148, 150, 153, 0.12);
          box-shadow: 1px 1px 3px rgba(148, 150, 153, 0.12);
}

.login form, .login__box-alt, .service-conditions-new {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0rem 1.5rem;
}

.login form {
  margin: 1.5rem 0;
  width: 100%;
}

.login__box label {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.login input {
  width: 100%;
  height: 2.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  border: 1px solid rgba(189, 178, 178, 0.43);
  -webkit-box-shadow: 1px 1px 3px rgba(148, 150, 153, 0.12);
          box-shadow: 1px 1px 3px rgba(148, 150, 153, 0.12);
  border-radius: 2px;
}

.login__box [type="submit"] {
  background-color: #c9366e;
  color: white;
  border: none;
  -webkit-box-shadow: 1px 1px 3px rgba(148, 150, 153, 0.12);
          box-shadow: 1px 1px 3px rgba(148, 150, 153, 0.12);
}

.service-conditions-new, .service-conditions {
  font-size: 0.75rem;
  text-align: center;
  font-weight: 400;
  margin: 1rem 0 1rem 0;
  color: rgba(26, 25, 25, 0.863);
}

.login__box-divider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  color: rgba(83, 80, 80, 0.82);
  font-weight: 400;
  font-family: sans-serif;
  font-size: 0.85rem;
}

.login__box-hr {
  width: 45%;
  height: 2px;
  background: #bdb2b2;
}

.login__box-alt {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.login__box-alt button {
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 2.5rem;
  margin: 0.5rem 0;
  border: 1px solid #bdb2b2;
  -webkit-box-shadow: 1px 1px 3px #949699;
          box-shadow: 1px 1px 3px #949699;
  border-radius: 2px;
  color: #1a1919;
}

button svg, button img {
  height: 16px;
}

.login__create-account, .login__email-acces, .login__password-recovery {
  text-align: center;
  margin: 1rem;
  font-weight: 500;
  color: rgba(83, 80, 80, 0.82);
  font-size: 0.9rem;
}

.login hr {
  border: 1px solid rgba(189, 178, 178, 0.43);
}
/*# sourceMappingURL=main.css.map */